main{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 2px;

}

app-square{
  border: 1px gray solid;
  height: 200px;

}

.buttonsize{
  font-size: 2rem;
  font-weight: 200;
  color: darkgreen;
  padding: 8px;
}

